*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: white;
    width: 50%;
    margin: 0 auto;
    font-family: 'calibri';
    border: 1px solid #C0C0C0;
}

header{
    background-color: #C0C0C0;
    width: 100%;
    clear: both;
    display: table;
}

.menu{
    width: 900px;
    margin: 0 auto;
}

header .menu img{
    width: 80px;
    float: left;
    padding: 5px;
    margin-left: 200px;
}

nav{
    float: right;
    vertical-align: middle;
    margin-right: 200px;
}

nav ul li{
    list-style: none;
    margin-left: 75px;
    padding: 20px 0;
    float: left;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

nav ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background-color: #444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.3s;
}

nav ul li a:hover::before{
    width: 100%;
}

.container h1{
    text-align: center;
    padding: 15px;
}

.container p{
    padding: 20px;
    text-align: justify;
}

.container .amor{
    width: 300px;
    padding: 10px;
    margin-left: 110px;
    border: 1px solid #C0C0C0;
    border-radius: 8px;
    background: #C0C0C0;
}

.pf{
    text-align: center;
    margin-bottom: 22px;
}

.pf img{
    width: 600px;
}

footer{
    width: 100%;
    padding: 1rem 8%;
    background-color: #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    height: 60px;
    margin-bottom: 1px;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1px;
}

.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid black;
    background-image: url(../imagenes/face.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    margin: 10px;
}

.social-icon:hover{
    background-color: #121212;
    filter: invert(1);
}

.social-icon:nth-of-type(2){
    background-image: url(../imagenes/ig.png);
}

.copy{
    text-align: center;
}